extends ./layouts/login_layout.pug
block content
  .container
    div
      form(action="/session", method="POST")
        input(type="text", name="email")
        input(type="text", name="password")
        input(type="submit", value="Enviar")