extends ../layouts/home_layout.pug
block content
  .container
    div
      h1 MOTUMBO
      a(href="/home/singup", method="GET") Nuevo Usuario
      a(href="/home/pong", method="GET") PONG
      a(href="/home/logout", method="GET") Cerrar Session