doctype html
html(lang="en")
  head
    title motumbo home
    meta(charset="utf-8")
    
    style canvas{border:solid;}
  body
    h1 PING PONG
    canvas(id="canvas")
    script(src="/javascript/main.js" ,type='text/javascript')